// TODO
.HeadingContainer {
  height: 6.653rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeadingContent {
  max-width: 1120px;
  width: 100%;

  padding: 0 1rem;

  img {
    margin-right: auto;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: opacity(0.9);
    }
  }
}
